<div class="header-content row">
  <div class="col"></div>
  <div class="col user-status">
    <a class="log-in" routerLink="login-page">Log In</a>
    <div class="vertical-separated"></div>
    <a routerLink="registration-page">Registration</a>
  </div>
  <div class="col">
    <a class="navbar-brand" routerLink="/">Book of recipes</a>
  </div>
  <div class="col home-status">
    <a routerLink="/" class="home">Home</a>
  </div>
  <div class="col"></div>

</div>


<div class="row">

  <div class="col-6 separated"></div>
</div>
