<div class="wrapper-content">
  <div class="header">
    <div class="header-wrapper-img">
      <h4 class="header-title">{{recipe.title}}</h4>
      <img class="header-img-top" src="{{recipe.imageUrl}}">
    </div>
    <div class="header-block">
      <h4 class="header-description">{{recipe.description.title}} </h4>
      <p class="header-text">{{recipe.description.body}}</p>
    </div>
    <div class="components" *ngIf="recipe.components.length">
      <h5 class="header-recipe">Recipe</h5>
      <div class="header-produts" *ngFor="let product of recipe.components">
        <div>{{product.name}} _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>
        <div>{{product.quantity}}</div>
        <div>{{product.defValue}}</div>
      </div>
    </div>
  </div>

  <div class="recipse" *ngIf="recipe.steps.length">
    <div *ngFor="let step of recipe.steps;let i = index;">
      <div class="step">
        <h4 class="recipse-title">Step {{i+1}}</h4>
      </div>
      <div class="recipse-wrapper-img">
        <img class="recipse-img-top" src="{{step.imageUrl}}">
      </div>
      <div class="recipse-block">
        <p class="recipse-text">{{step.description}}</p>
      </div>
    </div>
  </div>

</div>
