.search {
  background: url("../../pictures/kitchen.jpg") no-repeat;
  background-size: 960px 450px;
  width: 960px;
  height: 450px;
  margin: 0 auto;
  border-radius: 5px;
  padding-top: 10%;
  margin-bottom: 5%;
}

.form-search {
  width: 300px;
  margin: 0 auto;
}

 .form-search input {
   width: 300px;
   height: 50px;
   padding:2%;
 }

 .form-search button {
   width: 10%;
   height: 50px;
 }
